<!DOCTYPE html>
<html lang="en">
<head>
    <title>Benchmark Suite for Serverless Computing</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">    
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Benchmark Suite for Serverless Computing</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        </div>
    </nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6" style="padding-top: 15px; padding-bottom: 15px">
            <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Tests</h5>
                      <p class="card-text">Deploy a test for each cloud and language</p>
                      <div class="row" style="padding-bottom: 10px">
                          <div class="col-2">
                              <b>Test:</b>
                              <div class="radio">
                                  <label><input id="latencyTest" type="radio" name="test" checked>Latency</label>
                                </div>
                                <div class="radio">
                                  <label><input id="factorsTest" type="radio" name="test">CPU (Factors)</label>
                                </div>
                                <div class="radio">
                                  <label><input id="memoryTest" type="radio" name="test">Memory</label>
                                </div>
                                <div class="radio">
                                  <label><input id="filesystemTest" type="radio" name="test">Filesystem</label>
                                </div>
                          </div>
                          <div class="col-2">
                            <b>Memory (MB):</b>
                            <div class="radio" id="memory">
                                <label><input id="memory128" value="128" type="radio" name="ram" checked>128</label>
                              </div>
                              <div class="radio">
                                <label><input id="memory256" value="256" type="radio" name="ram">256</label>
                              </div>
                              <div class="radio">
                                <label><input id="memory512" value="512" type="radio" name="ram">512</label>
                              </div>
                              <div class="radio">
                                <label><input id="memory1024" value="1024" type="radio" name="ram">1024</label>
                              </div>
                              <div class="radio">
                                <label><input id="memory2048" value="2048" type="radio" name="ram">2048</label>
                              </div>
                        </div>
                        <div class="col-2">
                          <b>Timeout (s):</b>
                          <div>
                              <input id="timeout" value="60" type="number" name="timeout" style="max-width: 50px">
                            </div>
                      </div>
                          <div class="col-3">
                              <b>Clouds:</b>
                                <div class="form-check">
                                  <input type="checkbox" class="form-check-input" id="amazon">
                                  <label class="form-check-label" for="amazon">Amazon Web Services</label>
                                </div>
                                <div class="form-check">
                                  <input type="checkbox" class="form-check-input" id="azure">
                                  <label class="form-check-label" for="azure">Microsoft Azure</label>
                                </div>
                                <div class="form-check">
                                  <input type="checkbox" class="form-check-input" id="google">
                                  <label class="form-check-label" for="google">Google Cloud</label>
                                </div>
                                <div class="form-check">
                                  <input type="checkbox" class="form-check-input" id="ibm">
                                  <label class="form-check-label" for="ibm">IBM Cloud</label>
                                </div>
                          </div>
                          <div class="col-3">
                              <b>Languages:</b>
                                <div class="form-check">
                                  <input type="checkbox" class="form-check-input" id="node">
                                  <label class="form-check-label" for="node">Node.js</label>
                                </div>
                                <div class="form-check">
                                  <input type="checkbox" class="form-check-input" id="python">
                                  <label class="form-check-label" for="python">Python</label>
                                </div>
                                <div class="form-check">
                                  <input type="checkbox" class="form-check-input" id="go">
                                  <label class="form-check-label" for="go">Go</label>
                                </div>
                                <div class="form-check">
                                  <input type="checkbox" class="form-check-input" id="dotnet">
                                  <label class="form-check-label" for="dotnet">.NET</label>
                                </div>
                          </div>

                      </div>
                      <div class="row">
                        <div class="col-6">
                          <b>AWS Location:</b><br>
                          <select id="awslocation">
                            <option value="us-east-2">us-east-2, US East (Ohio)</option>
                            <option value="us-east-1">us-east-1, US East (N. Virginia)</option>
                            <option value="us-west-1">us-west-1, US West (N. California)</option>
                            <option value="us-west-2">us-west-2, US West (Oregon)</option>
                            <option value="ap-east-1">ap-east-1, Asia Pacific (Hong Kong)</option>
                            <option value="ap-south-1">ap-south-1, Asia Pacific (Mumbai)</option>
                            <option value="ap-northeast-2">ap-northeast-2, Asia Pacific (Seoul)</option>
                            <option value="ap-southeast-1">ap-southeast-1, Asia Pacific (Singapore)</option>
                            <option value="ap-southeast-2">ap-southeast-2, Asia Pacific (Sydney)</option>
                            <option value="ap-northeast-1">ap-northeast-1, Asia Pacific (Tokyo)</option>
                            <option value="ca-central-1">ca-central-1, Canada (Central)</option>
                            <option value="cn-north-1">cn-north-1, China (Beijing)</option>
                            <option value="cn-northwest-1">cn-northwest-1, China (Ningxia)</option>
                            <option value="eu-central-1" selected>eu-central-1, EU (Frankfurt)</option>
                            <option value="eu-west-1">eu-west-1, EU (Ireland)</option>
                            <option value="eu-west-2">eu-west-2, EU (London)</option>
                            <option value="eu-west-3">eu-west-3, EU (Paris)</option>
                            <option value="eu-north-1">eu-north-1, EU (Stockholm)</option>
                            <option value="me-south-1">me-south-1, Middle East (Bahrain)</option>
                            <option value="sa-east-1">sa-east-1, South America (Sao Paulo)</option>
                          </select>
                        </div>
                        <div class="col-6">
                            <b>Azure Location:</b><br>
                            <select id="azurelocation">
                              <option value="australiaeast">Australia East, New South Wales</option>
                              <option value="eastasia">East Asia, Hong Kong</option>
                              <option value="eastus">East US, Virginia</option>
                              <option value="eastus2">East US 2, Virginia</option>
                              <option value="northeurope">North Europe, Ireland</option>
                              <option value="southcentralus">South Central US, Texas</option>
                              <option value="southeastasia">Southeast Asia, Singapore</option>
                              <option value="uksouth">UK South, London</option>
                              <option value="westeurope" selected>West Europe, Netherlands</option>
                              <option value="westus">West US, California</option>
                              <option value="westus2">West US 2, Washington</option>
                            </select>
                          </div>
                      </div>
                      <br>
                      <div class="row">
                          <div class="col-6">
                            <b>Google Location:</b><br>
                            <select id="googlelocation">
                              <option value="us-central1">us-central1, Iowa</option>
                              <option value="us-east1">us-east1, South Carolina</option>
                              <option value="us-east4">us-east4, Northern Virginia</option>
                              <option value="europe-west1" selected>europe-west1, Belgium</option>
                              <option value="europe-west2">europe-west2, London</option>
                              <option value="asia-east2">asia-east2, Hong Kong</option>
                              <option value="asia-northeast1">asia-northeast1, Tokyo</option>
                            </select>
                          </div>
                          <div class="col-6">
                              <b>IBM Location:</b><br>
                              <select id="ibmlocation">
                                <option value="jp-tok">jp-tok, Tokyo</option>
                                <option value="eu-de" selected>eu-de, Frankfurt</option>
                                <option value="eu-gb">eu-gb, London</option>
                                <option value="us-south">us-south, Dallas</option>
                                <option value="us-east">us-east, Washington, D.C.</option>
                              </select>
                            </div>
                        </div>
                      <br>
                      <div class="row">
                        <button id='deployButton' type="button" class="btn btn-primary" style="margin: 5px">Deploy</button>
                        <button id='runButton' type="button" class="btn btn-primary" style="margin: 5px">Run</button>
                        <button id='stopButton' type="button" class="btn btn-primary" style="margin: 5px">Stop</button>
                        <button id='cleanupButton' type="button" class="btn btn-danger" style="margin: 5px">Cleanup All</button>
                      </div> 
                      <hr>
                      <div class="row">
                        <button id='showLogFileButton' type="button" class="btn btn-primary" style="margin: 5px">Show Error Log</button>
                        <button id='cleanupLogFileButton' type="button" class="btn btn-danger" style="margin: 5px">Cleanup Error Log</button>
                      </div>
                    </div>
                  </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6" style="padding-top: 15px; padding-bottom: 15px">
        <button id="clearButton" type="button" class="btn btn-primary" style="margin: 5px">Clear Output</button>
        <div id="result" class="console"><%= data %></div>
        <div id="spinner" class="spinner-border text-primary"></div>
  </div>
  
</div>
</body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
$('#deployButton').click(function deploy(){

  if(!($("#amazon").prop('checked') || $("#azure").prop('checked') || $("#google").prop('checked') || $("#ibm").prop('checked')) || 
     !($("#node").prop('checked') || $("#python").prop('checked') || $("#go").prop('checked') || $("#dotnet").prop('checked'))) {
    $("#result").html($("#result").html() + '<span style="color:red">Please choose at least one cloud provider and one language if you want to deploy.</span><br>');
    return;
  }

  $.ajax({url: 'deploy', type: 'get',data: {
    latency: $("#latencyTest").prop('checked'),
    factors: $("#factorsTest").prop('checked'),
    memory: $("#memoryTest").prop('checked'),
    filesystem: $("#filesystemTest").prop('checked'),
    ram: document.querySelector('input[name="ram"]:checked').value,
    timeout: $('#timeout').val(),
    aws: $("#amazon").prop('checked'), 
    azure: $("#azure").prop('checked'),
    google: $("#google").prop('checked'),
    ibm: $("#ibm").prop('checked'),
    node: $("#node").prop('checked'),
    python: $("#python").prop('checked'),
    go: $("#go").prop('checked'),
    dotnet: $("#dotnet").prop('checked'),
    awslocation: $('#awslocation').val(),
    azurelocation: $('#azurelocation').val(),
    googlelocation: $('#googlelocation').val(),
    ibmlocation: $('#ibmlocation').val()
  }, success:function(res){
      $("#result").html(res.data);
      update();
  }});
});

$('#runButton').click(function cleanup(){

  if($("#factorsTest").prop('checked')) {
    $("#result").html($("#result").html() + '<span style="color:red">Not yet implemented.</span><br>');
    return;
  }

  $.ajax({url: 'run', type: 'get', success:function(res){
      $("#result").html(res.data);
      update();
  }});
});

$('#stopButton').click(function cleanup(){
  $.ajax({url: 'stop', type: 'get', success:function(res){

  }});
});

$('#cleanupButton').click(function cleanup(){
  $.ajax({url: 'cleanup', type: 'get', data: {awslocation: $('#awslocation').val()}, success:function(res){
      $("#result").html(res.data);
      update();
  }});
});

$('#showLogFileButton').click(function cleanup(){
  window.open('logfile', '_blank');
});

$('#cleanupLogFileButton').click(function cleanup(){
  $.ajax({url: 'cleanupLogFile', type: 'get', success:function(res){
      $("#result").html(res.data);
      update();
  }});
});

function update() {
  $('#spinner').show();
  $.ajax({url: 'status', type: 'get', success:function(res){
      console.log('update...');
      $("#result").html(res.data);
      if(res.running) {
        setTimeout(function(){update();}, 1000);
      } else {
        $('#spinner').hide();
      }
  }});
}

$('#clearButton').click(function clear() {
  $("#result").html('');
});

$(document).ready( function() {
  $('#spinner').hide();
});
</script>

</html>