.vscode

main/.env
main/node_modules

aws/src/node/node_latency/node_modules
aws/src/node/node_latency/node_latency.zip

aws/src/node/node_factors/node_modules
aws/src/node/node_factors/node_factors.zip

aws/src/go/go_latency/latency
aws/src/go/go_latency/go_latency.zip

aws/src/go/go_factors/factors
aws/src/go/go_factors/go_factors.zip

aws/src/dotnet/Latency/bin
aws/src/dotnet/Latency/obj
aws/src/dotnet/Latency/dotnet_latency.zip

aws/src/dotnet/Factors/bin
aws/src/dotnet/Factors/obj
aws/src/dotnet/Latency/dotnet_factors.zip

ibm/src/node/latency/node_modules
ibm/src/node/latency/node_latency.zip

ibm/src/node/factors/node_modules
ibm/src/node/factors/node_factors.zip

ibm/src/dotnet/Latency/bin
ibm/src/dotnet/Latency/obj
ibm/src/dotnet/Latency/out
ibm/src/dotnet/Latency/dotnet_latency.zip

ibm/src/dotnet/Factors/bin
ibm/src/dotnet/Factors/obj
ibm/src/dotnet/Factors/out
ibm/src/dotnet/Factors/dotnet_factors.zip